Source: visualdct
Section: misc
Priority: optional
Maintainer: Michael Davidsaver <Michael Davidsaver>
Build-Depends: cdbs, debhelper (>> 5), javahelper , ant
Build-Depends-Indep: openjdk-6-jdk
Standards-Version: 3.8.0
Homepage: http://visualdct.cosylab.com/

Package: visualdct
Architecture: all
Depends: java5-runtime | java6-runtime
Description: VDCT EPICS database visualization and designer
 A tool to provide a graphical view of an EPICS database with
 the capibility to edit.
