Source: visualdct
Section: misc
Priority: optional
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7), javahelper, ant,
Build-Depends-Indep: default-jdk
Standards-Version: 3.8.0
Homepage: http://visualdct.cosylab.com/

Package: visualdct
Architecture: all
Depends: default-jre, ${java:Depends},
Recommends: ${java:Recommends}
Description: VDCT EPICS database visualization and designer
 A tool to provide a graphical view of an EPICS database with
 the capibility to edit.
