#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/ant.mk

JAVA_HOME := /usr/lib/jvm/default-java

DEB_ANT_BUILDFILE=VDCTBuild.xml

DEB_ANT_ARGS += -Dbuild.version="$(DEB_NOEPOCH_VERSION)"

clean::
	rm -rf build

install/visualdct::
	dh_install -v -p$(cdbs_curpkg) build/VisualDCT/$(DEB_NOEPOCH_VERSION)/VisualDCT.jar usr/share/visualdct
	dh_install -v -p$(cdbs_curpkg) visualdct usr/bin
	chmod +x debian/$(cdbs_curpkg)/usr/bin/visualdct
	dh_link -p$(cdbs_curpkg) usr/bin/visualdct usr/bin/vdct
